* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background-image: url(./Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px 0;
}

/* Container */
.container {
  width: 450px;
  margin: auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Heading */
.container h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* Labels */
label {
  font-size: 14px;
  display: block;
  margin-top: 12px;
}

/* Inputs */
input,
select,
textarea {
  width: 40%;
  padding: 8px;
  margin-top: 6px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

/* Rows (Desktop) */
.row {
  display: flex;
  gap: 10px;
}

.col {
  width: 50%;
}

/* Address */
textarea {
  height: 80px;
}

/* Button */
button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background-color: red;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.03);
}


@media (min-width:750px) {

  /* Make form full width */
  .container {
    width: 90%;
    min-height: 80vh;
    padding: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  body{
    min-height: 80vh;
  }
 
  .row {
    display: block;  
    gap: 50px;        /* stop flex */
  }

  .col {
    width: 100%;             /* full width */
  }

  input,
  select,
  textarea,
  button {
    width: 100%;
    height: 45px;
    margin-top: 10px;
  }
  input{

    margin-top: 10px;
  }

}
