* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-image:url(./Background.png);
    background-size: cover;      /* Cover full screen */
    background-repeat: no-repeat;/* No repeat */
    background-position: center; /* Center the image */
    height: 100vh;
    margin: 0;
}
html,body::before{
    background: 0 ,0,0, 1;
}

.container{
    height: 400px;
    width: 400px;
    border: 2px;
    position: relative;
    top: 130px;
    left: 550px;
    border-radius: 7px;
    box-shadow: 5px 5px 8px 8px gray;
    /* background-color: rgb(156, 239, 239); */
}
.username>label{
    font-size: 18px;
    margin-left: 22px;
   
}
.heading{
    position: relative;
    top: 28px;
    left: 130px;
    font-size: 23px;
}
.username{
   position: relative;
   top: 70px;

}
.username>input{
    height: 40px;
    width: 350px;
    margin-left: 22px;
    border-radius: 4px;
    padding-left: 10px;
}
.btn{
    position: relative;
    top: 120px;
    left: 95px;
}
.btn>button{
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: rgb(47, 14, 211);
    font-size: 22px;
    font-weight: bold;
    color: white;
}
.btn>button:hover{
    transform: scale(1.05);

}
input{
    border-color:blue;
    background: transparent;
    font-size: 16px
    
}
input::placeholder{
    font-size: 16px;
}
button:active{
    background-color: rgb(16, 211, 71);
}
.mainheading{
    font-size: 25px;
    position: relative;
    top: 25px;
    left: 400px;
    height: 82px;
    width: 725px;
    border: 2px solid;
    padding: 10px;
    border-radius:7px;
    
}
.message{
    position: relative;
    top: 50px;
    left: 110px;
    font-size: 20px;
    font-weight: bold;

}


/* Tablet */
@media (max-width: 992px) {

  .mainheading {
    left: 0;
    margin: 20px auto;
    width: 90%;
    text-align: center;
  }
body{
  height: 100vh;
}
  .container {
    left: 0;
    margin: 80px auto;
    top: 0;
  }
}

/* Mobile */
@media (max-width: 600px) {

  html, body {
    height: auto;
  }
body{
  height: 120vh;
}
  .mainheading {
    width: 95%;
    font-size: 20px;
    height: auto;
    padding: 10px;
  }

  .container {
    width: 90%;
    height: 380px;
    padding-bottom: 30px;
  }
.message{
  position: relative;
  top: 110px;
}
  .heading {
    left: 0;
    text-align: center;
  }

  .username {
    top: 40px;
  }

  .username > input {
    width: 90%;
    margin-left: 5%;
  }

  .username > label {
    margin-left: 5%;
  }

  .btn {
    left: 0;
    top: 90px;
    text-align: center;
  }

  .btn > button {
    width: 90%;
    font-size: 20px;
  }

  .message {
    left: 0;
    text-align: center;
    font-size: 18px;
  }
}

/* Small Mobile */
@media (max-width: 400px) {

  .mainheading {
    font-size: 18px;
  }

  .btn > button {
    font-size: 18px;
  }
}
