/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body main */
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
  color: #000;
  padding: 20px;
  overflow-x: hidden;
}

/* Background blur layer */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("./Background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(5px) brightness(0.6);
  transform: scale(1.1); /* remove blur edges */
  z-index: -1;
}

/* Content styles */
h2 {
  margin-bottom: 10px;
}

input,
textarea {
  padding: 6px;
  margin: 4px 0;
  width: 250px;
}

button {
  padding: 6px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-size: 17px;
  font-weight:bold ;
}
button:hover{
  transform: scale(1.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background: white;
}

th,
td {
  border: 1px solid #aaa;
  padding: 6px;
  text-align: center;
}

th {
  background-color: #334dde;
  color: white;
}

form {
  margin-top: 10px;
}
table{
    background-color:bisque;
}
/* ===============================
   MOBILE RESPONSIVE
   =============================== */

@media (max-width: 768px) {

  body {
    padding: 10px;
  }

  h2 {
    text-align: center;
  }

  /* Inputs & textarea full width */
  input,
  textarea {
    width: 100%;
    font-size: 14px;
  }

  /* Button full width */
  button {
    width: 100%;
    font-size: 12px;
    margin-top: 8px;
    height: 20px;
    padding: 5px;
    width: 30px;
  }

  /* Table scroll on small screens */
  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th,
  td {
    font-size: 14px;
    padding: 6px;
  }
}

/* Small Mobile */
@media (max-width: 480px) {

  h2 {
    font-size: 18px;
  }

  th,
  td {
    font-size: 13px;
    padding: 5px;
  }

  button {
    font-size: 15px;
  }
}
